/*Seccion Menu*/
.menu {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
}

.menu__logo {
    height: 24px;
    width: 24px;
    background-image: url("/assets/img/ico-logo-star.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.menu__detalle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 1rem;
    gap: 0.7rem;
}

.menu__titulo {
    color: var(--color_plomo);
}

.menu__lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.menu__item {
    color: var(--color_plomo);
    font-size: 1rem;
    font-weight: 400;
    font-weight: bold;
    list-style: none;
}

.menu__item--link {
    text-decoration: none;
    color: var(--color_plomo);
}

.menu__item--link:hover {
    color: var(--color_celeste);
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    .todo {
        margin: 2rem 1rem 0 1rem;
    }
    .menu {
        display: flex;
        flex-direction: column;
        
    }
    .menu__logo  {
        display: none;
    }
    .menu__titulo {
        justify-content: left;
        text-align: left;
    }

    .menu__lista {
        display: flex;
        flex-direction: column;
        width: 90vw;
        gap: 0.6rem;
    }
    .menu__item {
        display: flex;
        justify-content: center;
        height: 24px;
        font-size: 0.9rem;
        border: 1px solid;
        width: 90vw;
        align-items: center;
        background-color: var(--color_plomo);
        color: var(--color_negro);
    }
    .menu__item--link {
        color: var(--color_negro);
        align-items: center;
        text-align: center;
    }
}

/* iPads, Tablets */
@media screen and (min-width:481px) and (max-width: 768px) {

}
/* Laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {

}
/* Escritorios */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
}