:root {
    --color_negro: #020705; 
    --color_plomo: #edecd1;
    --color_celeste: #51b5ef;
}

.body,
html {
    background-color: var(--color_negro);
}

.acentuado--ligero {
    color: var(--color_celeste);
}
.acentuado--fuerte {
    color: var(--color_celeste);
}

.titulo {
    color: var(--color_plomo);
    font-size: 2rem;
    font-family: Raleway;
    font-weight: 700;
}

.titulo--izquierda {
    color: var(--color_negro);
    font-size: 2rem;
    font-family: Raleway;
    font-weight: 700;
    margin-top: 1.7rem;
    margin-bottom: 2rem;
}

.titulo--izquierda-claro {
    color: var(--color_plomo);
    font-size: 2rem;
    font-family: Raleway;
    font-weight: 700;
    margin-top: 1.7rem;
    margin-bottom: 2rem;
}

.titulo--centrado {
    color: var(--color_plomo);
    font-size: 2rem;
    font-family: Raleway;
    font-weight: 700;
    text-align: center;
    margin-top: 1.7rem;
    margin-bottom: 2rem;
}

.titulo--centrado--negro {
    color: var(--color_negro);
    font-size: 2rem;
    font-family: Raleway;
    font-weight: 700;
    text-align: center;
    margin-top: 1.7rem;
    margin-bottom: 2rem;
}

/* Contenedor de todo el sitio */
.todo {
    margin: 0 1rem 0 1rem;
    background-color: var(--color_negro);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}











