/* ------------------------------------------------------- */
/* Seccion Sobre Mi*/
.sobremi {    
    background-color: var(--color_plomo);
    border: 1px solid;
    border-color: var(--color_plomo);
    
}

.sobremi__container {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sobremi__firma {
    max-width: 20%;
    height: auto;
}

.sobremi__descripcion {
    color: var(--color_negro);
    font-size: 1rem;
    font-family: Raleway;
    font-weight: 300;
}

@media screen and (min-width:481px) and (max-width: 768px), screen and (min-device-width:481px) and (max-device-width: 768px) {
    .sobremi {
        
    }    
}
