/* ------------------------------------------------------- */
/* Formacion */
.formacion {
    background-color: white;
    margin-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
}
.formacion__titulo {
}
.cursos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cursos__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    gap: 0.5rem;
}
.cursos__item--imagen {
    width: 12rem;
    height: 8.125rem;
    flex-shrink: 0;
}
.cursos__item--titulo {
    color: var(--color_text);
    font-size: 1.375rem;
    font-family: Raleway;
    font-weight: 700;
}
.cursos__item--subtitulo {
    color: var(--color_text);
    font-size: 1rem;
    font-family: Raleway;
    font-weight: 500;
}

@media screen and (max-width: 480px) {
    .cursos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .cursos__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    
}

/* iPads, Tablets */
@media screen and (min-width:481px) and (max-width: 768px), screen and (min-device-width:481px) and (max-device-width: 768px) {
    .cursos__item {
        justify-content: end;
        align-items: center;
    }
    .cursos__item--imagen {
        max-width: 60%;
        height: auto;
        flex-shrink: 0;
    }
    .cursos__item--titulo {
        color: var(--color_text);
        font-size: 1.075rem;
        font-family: Raleway;
        font-weight: 700;
    }
    .cursos__item--subtitulo {
        color: var(--color_text);
        font-size: 0.8rem;
        font-family: Raleway;
        font-weight: 500;
    }
}
/* Laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {

}
/* Escritorios */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
}